repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/allganize/ty-pre-commit
    rev: v0.0.17
    hooks:
      - id: ty-check
        additional_dependencies: [pytest]
